@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
}

body {
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #f3f1ff;
}

header {
  height: 94px;
  background-color: #562eff;
  margin-bottom: 36px;
}
nav {
  width: 870px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.nav-right {
  display: flex;
  align-items: center;
}
.nav-right img {
  margin-left: 20px;
}
.nav-right a {
  margin-left: 36px;
}
.nav-icon {
  display: flex;
  align-items: center;
}
.nav-icon .logo-name {
  margin-top: 20px;
}
.nav-icon img {
  width: 40.42px;
  height: 51px;
  margin-top: 26px;
}
.nav-icon a {
  color: white;
  margin-left: 16px;
  text-decoration: none;
  font-size: 24px;
}
.nav-right .logo {
  margin-top: 20px;
}
nav .nav-right a {
  color: white;
  font-size: 16px;
  margin-top: 20px;
  text-decoration: none;
}
nav .nav-right img {
  width: 51px;
  height: 51px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  width: 870px;
}
.container {
  background: #ffffff;
  border-radius: 5px;
  padding: 30px;
}
.section-title {
  margin-bottom: 40px;
  font-size: 24px;
  color: #562eff;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 29px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
  margin-right: 26px;
}
.player-name {
  font-size: 18px;
}
hr {
  border: 1px solid #d1d1d1;
  margin: 30px 0;
}

/*------------------------------
            Top Blog
 ------------------------------- */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}
.top-blogs {
  padding-top: 0;
}
.blog {
  display: flex;
}

.blog .thumbnail img {
  width: 177px;
  height: 117px;
}

.blog-info {
  margin-left: 16px;
}

.blog-title {
  font-size: 20px;
}
.blog-author {
  font-size: 16px;
  color: #9f9f9f;
}
.blog-author a {
  text-decoration: none;
  font-size: 16px;
  color: #562eff;
}

/* Top Courses */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  position: relative;
}

.course-section {
  margin-top: 30px;
}
.course-details .course-title {
  font-size: 20px;
  color: #1e1e1e;
}
.course-details .course-author {
  font-size: 15px;
  color: #ed6b4f;
}
.course-info {
  display: flex;
  justify-content: space-between;
}
.course .course-banner img {
  width: 100%;
}
.course-info .filled {
  color: #ffc014;
}
.course-info .empty {
  color: #aeaeae;
}
.course-info span {
  color: #a2a2a2;
  margin-left: 5px;
}
.course-duration {
  background-color: #ffe4e8;
  border-radius: 5px;
 
}
.course-duration .fa-clock {
  color: #ff4a60;
}
.course-duration span {
  color: #ff4a60;
}

@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }

  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog {
    flex-direction: column;
    align-items: center;
  }
  .course {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .course-info {
    justify-content: center;
  }
}
@media only screen and (min-width: 669px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .courses,
  .blogs {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .course,
  .blog {
    align-items: center;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 668px) {
  header {
    width: 500px;
    height: 94px;
  }

  nav {
    justify-content: flex-start;
  }
  .nav-icon {
    margin-left: 5px;
  }
  .nav-right a {
    margin-left: 18px;
  }
}
